*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;

}
body{
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;

}
/* menu design */
#menu{
    background:pink;
}
.brand-logo{
    padding: 0 30px;

}
.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
}
.brand-logo{
    padding: 0 30px;

}
.brand-logo img{
    width: 150px;
    width: 150px;
    margin-top: -20px;
}
.brand-logo{
    padding: 0 30px;
}
.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: -20px;
}
.brand-logo{
    padding: 0 30px;

}
.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: -20px;
}
.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px 0;
    color: rgb(128, 129, 129);
    font-weight: 300;
}
.menu-item a:hover{
    background: rgb(168, 69, 84);
}
#food-container{
    background:whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}
::-webkit-scrollbar{
    display: flex;
}
#header.address{
    font-size: 20px;

}
 .your-address{
    border: ipx solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
 }
 .add-box i{
    font-size: 20px;

 }
 .util i, .user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
    
 }
 .util i:active, .user i:active{
    color: white;
    background: crimson;
 }
 .food-items{
    

 }
 #biryani,#chicken,#paneer,#vegetable,#chinese,#south-indian{
    margin-top: 40px;

 }
 #paneer #item-card,#vegetable #item-card{
    background: rgb(218, 253, 18);

 }
 #chinese #item-card,#south-indian #item-card{
    background: rgb(221, 243, 243);
 }
 #category-name, .item-menu{
    margin: 10px;
    font-size: 35px;
    color: coral;

 }
 #item-card{
    
    width: 180;
    height: 190px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    background: #ce4e61;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

 }
 #item-card{
    height: 120;
    width: 120;
 }
 #card-top{
    display: flex;
    margin: 5px 0px;
    justify-content: space-between;

 }
 .fa-heart-o{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    
 }
 .toggle-heart{
    background: orangered;
    color: white;
 }
 #rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 14px;
 }
 #item-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10;
    display: flex;
    
    
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
 }
 #item-card:hover img{
    transform: scale(1.2);
 }
 #item-name{
    margin: 5px;
    font-weight: 600;
    color: darkslategrey;
    font-size: 18px;
 }
 #item-price{
    margin: 0;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
 }

#cart{
    background: whitesmoke;
    padding-right: 30px;
    overflow-y: scroll;
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
}
.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    background: whitesmoke;
}
.border{
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}
.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3 all ease-in-out;
}
.list-card:hover{
    background: rgb(255, 216, 222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 0 10px;
    text-transform: capitalize;
    color: #5e2b2b;
    
}

.brand-logo-img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
/* @media screen and (min-width: 200px) and(max-width: 1400px){
    .container{
        display: flex;
        flex-direction: column;
    } */
/* } */
/* .badal{
    display: flex;
    flex-direction: column; */
/* } */
.category-list{
    
}

.cart-toggle{

}
#cart-page{
    background: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;

}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;
}
#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px; 
    margin: 0 20px;
    
 }
#m-total-amount{
    display: flex;
}
/* .list{
    
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    padding: 10px 20px; */


#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}
#cart-page table thead td button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 8px;
}
#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;

}
#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}
#checkout p{
    margin: 15 0;
    float: left;

}
#total-price,#total-item{
    font-size: 25px;
    color: indianred;

}
.cart-btn{
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 20px 0;
    cursor: pointer;
}
.cart-btn:active{
    color: crimson;
    background: none;
    border: 1px solid crimson;
}
#delievery{
    font-size: 20px;
    color: limegreen;
}
.cart-toggle{
    display: none;
}
